<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
<form class="login" #loginForm="ngForm" (ngSubmit)="onSubmit(UserName.value, Password.value)">
  <a routerLink="/register">Sign up</a>
  <div>
    <p>
      <label>Логин:</label>
      <input type="text" #UserName ngModel name="UserName" placeholder="Username" required>
    </p>
  </div>

  <div>
    <p>
      <label>Пароль:</label>
      <input type="password" #Password ngModel name="Password" placeholder="Password" required>
    </p>
  </div>

  <div>
    <p class="sign-in">
      <button class="md-raised md-primary md-button md-ink-ripple" type="submit">
        Войти
      </button>
    </p>
  </div>
</form>

