<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
<form [formGroup]="RegisterForm" class="login" (submit)="onSubmit()">
  <div class="ling-registration">
    <p>Sign up or</p>
    <a routerLink="/authorization">Sign in</a>
  </div>
  <div>
    <label>Email</label>
    <input type="text" id="email" formControlName="email">
    <div class="error" *ngIf="isControlInvalid('email')">
      Введите валидный адрес почты
    </div>
    </div>
    <!--<div  *ngIf="RegisterForm.controls['checkEmail'].hasError('isEmailUnique')"
          class="error">Email address already exits</div>
    </div>-->

  <div>
    <label>Пароль:</label>
    <input #password type="password" id="password" formControlName="password">
    <div class="error" *ngIf="isControlInvalid('password')">
      Введите валидный пароль
    </div>
  </div>

  <div>
    <label>Повторите пароль:</label>
    <input #verifyPassword type="password" [formControl]="RegisterForm.controls['verifyPassword']" id="verifyPassword">
      <div class="error" *ngIf="RegisterForm.hasError('mismatch')">
        Пароли не совпадают
      </div>
  </div>

  <div>
  <p class="sign-in">
     <!--(click)="add(loginName.value, password.value, repeatPassword.value); loginName.value=''; password.value=''; repeatPassword.value=''"-->
    <button class="md-raised md-primary md-button md-ink-ripple" type="submit">
      Sign Up
    </button>
  </p>
  </div>
</form>
