<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
<form class="login" #userRegistrationForm="ngForm" (ngSubmit)="add(userRegistrationForm)">
  <a routerLink="/authorization">Log in</a>
  <div>
  <p>
    <label data-error="Required field!">Email</label>
    <input class="validate" type="text" name="email" #email="ngModel" [(ngModel)]="user.email" required>
  </p>
  </div>

  <div>
  <p>
    <label>Пароль:</label>
    <input #password type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required>
  </p>
  </div>

  <div>
  <p>
    <label for="repeat-password">Повторите пароль:</label>
    <input #repeatPassword type="password" name="repeat-password" id="repeat-password" value="4815162342">
  </p>
  </div>

  <div>
  <p class="sign-in">
     <!--(click)="add(loginName.value, password.value, repeatPassword.value); loginName.value=''; password.value=''; repeatPassword.value=''"-->
    <button class="md-raised md-primary md-button md-ink-ripple" type="submit">
      Зарегестрироваться
    </button>
  </p>
  </div>
</form>
