<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
<form method="post" action="" class="login">
  <a routerLink="/authorization">Log in</a>
  <div>
  <p>
    <label for="login">Логин:</label>
    <input type="text" name="login" id="login" value="name@example.com">
  </p>
  </div>

  <div>
  <p>
    <label for="password">Пароль:</label>
    <input type="password" name="password" id="password" value="4815162342">
  </p>
  </div>

  <div>
  <p>
    <label for="repeat-password">Повторите пароль:</label>
    <input type="password" name="repeat-password" id="repeat-password" value="4815162342">
  </p>
  </div>

  <div>
  <p class="sign-in">
    <button class="md-raised md-primary md-button md-ink-ripple" type="button" name="sign-in" id="sign-in">
      Зарегестрироваться
    </button>
  </p>
  </div>
</form>
